{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="wide-container" id="disclaimer">

    <div class="about">
        <h2>About this site</h2>
        <p>
            This site has been built with educational and demonstrational pourposes.
            It intends to recreate a web forum where users can signup, login, upload posts
            with option to add an image, and comment on other posts or comments.
        </p>
        
        <p>
            We respect the user's privacy so we don't store any credentials or email adresses.
            Despite our respect for the user's privacy and freedom of speech, 
            we will not allow any ilegal content in our platform.
        </p>

        <p>
            Users can create anonymous accounts, watch their statistics and change their password
            in "my profile" section. Because we don't collect user's email, we're not supporting 
            password reset at the moment, so be careful to save your password somewhere safe. 
            If you can't find your password you might want to contact us or create a new one.
        </p>
        
        <p>
            We're not responsable for the contents that the users could upload, but we're
            willing to delete ilegal content that could be uploaded to this platform. If 
            you find content that  could be identified as ilegal, please mark it as flagged
            and we will check it out.
        </p>
    
        <p>
            Please enjoy your time in our website!
        </p>
        <br>
        <p style="text-align: end;">
            Thank you for visiting us,
            <br>
            <span style="font-weight: bold;">
                the Allfasoft team.
            </span> 
        </p>
    </div>
</div>

{% endblock %}